:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 200;
  color-scheme: white;
  color: rgba(10, 10, 10, 0.87);
  background-color: white; /*#242424;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a:hover{
  font-weight: 600!important;
}
 img:hover{
  opacity: 0.8;
}
#gradient-text {
  background: -webkit-linear-gradient(#22dc2b,rgb(12, 104, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#watchlist{
  width: 35%;
}


#dashboardright{
  width: 60%;
}

@media screen and (max-width: 767.98px) {
  #watchlist {
    width: 100%;
  }
  #dashboardright{
  width: 100%;

}
}
#dashboard{
  position:absolute;
  width:100vw;
}

  .custom-hover-black {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.custom-hover-black:hover {
  background-color: black !important;
  border-color: black !important;
  color: white !important;
}
